@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http.Extensions;
@inject IHostingEnvironment Env;
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check-Yo-Self!</title>
    <base href="@($"{(Context.Request.PathBase + "/")}")" />  
    
    @if(Env.IsProduction()) {
      @if(!string.IsNullOrEmpty(Context.Request.PathBase)) {
        <link rel="icon" href="@($"{(Context.Request.PathBase + "/favicon.ico")}")" type="image/x-icon" />
      }
    }
</head>

<body>
    @RenderBody()
</body>

</html>