<div style="width:100%;" fxLayout="column" fxLayoutAlign="center center">
  <img src="../../../assets/images/Check-Yo-Self.png" class="expandedTopMargin">

  <div *ngIf="employeesButtonVisible === true">
    <button mat-raised-button color="primary" accesskey="e" (click)="goToEmployeesPage()">Go to <u>E</u>mployees</button>
  </div>

  <form [formGroup]="checkCalculatorForm">
    <mat-tab-group>
      <mat-tab label="Dates">
        <appc-show-paycheck-dates [datesFormGroup]="checkCalculatorForm.controls['datesParameters']"></appc-show-paycheck-dates>
      </mat-tab>
    
      <mat-tab label="Months">
        <appc-show-months [monthsFormGroup]="checkCalculatorForm.controls['monthsParameters']"></appc-show-months>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>