<div fxLayout="column" fxLayoutAlign="center center" style="text-align: center; padding-top:10px; padding-bottom:10px;">
  In this section, Check-Yo-Self<br/>
  will examine the next year to determine<br/>
  which months have the exact number<br/>
  of paychecks within them that<br/>
  you specify below.  You must provide<br/>
  a beginning payday as well as the number<br/>
  of days in your pay period.
</div>

<div>
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="monthsFormGroup" class="mat-typography">
    <mat-form-field fxFill>
      <label for="dbxStartDate">Start Date</label>
      <input id="dbxStartDate" matInput [matDatepicker]="picker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="monthsFormGroup.controls['startDate'].hasError('required')">
        Start date is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFill>
      <label for="txtNumberOfChecks">Number of checks in a given month</label>
      <input id="txtNumberOfChecks" matInput placeholder="Number of checks in a given month" required formControlName="numberOfChecksInAGivenMonth">

      <mat-error *ngIf="monthsFormGroup.controls['numberOfChecksInAGivenMonth'].hasError('required')">
        Number of checks in a given month is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFill>
      <label for="txtPayPeriodDays">Days in your pay period</label>
      <input id="txtPayPeriodDays" matInput placeholder="Days in your pay period" required formControlName="payPeriodDays">

      <mat-error *ngIf="monthsFormGroup.controls['payPeriodDays'].hasError('required')">
        Pay period days is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" accesskey="m" (click)="getPaycheckMonths()">Get <u>M</u>onths</button>
    </div>
  </form>
</div>

<div>
  <mat-list>
    <mat-list-item *ngFor="let month of returnedMonths" fxLayout="column" fxLayoutAlign="center center">
      {{ month.description }}
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="returnedMonths !== undefined  && returnedMonths.length === 0" style="padding-top: 10px;">
  No months match the specified parameters.
</div>

<div *ngIf="returnedMonths === undefined" style="padding-top: 10px;" fxLayout="column" fxLayoutAlign="center center">
  <div>Please enter parameters above,</div>
  <div>and click the Get Months button.</div>
</div>