@import '~@angular/material/_theming';
@include mat-core();
@import '~webpack-material-design-icons/material-design-icons.css';

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-amber, A200, A100, A400);
$app-theme:   mat-light-theme($app-primary, $app-accent);

// Include the default theme styles.
@include angular-material-theme($app-theme);

html {
    height: 100vh;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

appc-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}