<div>
    <appc-root>Loading...</appc-root>
</div>

<script>
    window.user = '@ViewBag.user';
</script>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
<script src="~/dist/@ViewBag.MainDotJs" asp-append-version="true"></script>