<div fxLayout="column" fxLayoutAlign="center center">
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="editFormGroup" class="mat-typography">
    <mat-form-field fxFill>
      <input matInput placeholder="First" required formControlName="firstName">

      <mat-error *ngIf="editFormGroup.controls['firstName'].hasError('required')">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFill>
      <input matInput placeholder="Last" required formControlName="lastName">

      <mat-error *ngIf="editFormGroup.controls['lastName'].hasError('required')">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFill>
      <input matInput placeholder="Salary" required formControlName="salary">

      <mat-error *ngIf="editFormGroup.controls['salary'].hasError('required')">
        Salary is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="editFormGroup.controls['salary'].hasError('min')">
        Salary must be at least <strong>one dollar</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFill>
      <input id="dbxStartDate" matInput [matDatepicker]="picker" formControlName="firstPaycheckDate"
        placeholder="First Paycheck Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="editFormGroup.controls['firstPaycheckDate'].hasError('required')">
        First paycheck date is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" matStepperNext accesskey="u"
        (click)="editEmployee()"><u>U</u>pdate</button>
    </div>
  </form>
</div>